<template>
  <div>
    <img
      class="w-48 h-48 my-2 flex mx-auto"
      alt="logo"
      :src="require('@/assets/hangman/hangman-' + lettersWrong.length + '.png')"
    />
  </div>
</template>

<script>
/**
 * @name HangmanDisplay
 * @description The hangman image display depending on the number of wrong letters.
 * @param {Array} lettersWrong An array containing the current wrong letters.
 */
export default {
  name: 'HangmanDisplay',
  props: {
    lettersWrong: Array,
  },
};
</script>
