<template>
  <div class="w-full flex flex-row justify-around">
    <p class="m-1 font-semibold">Score : {{ score }}</p>
    <p class="m-1 font-semibold">Best : {{ bestScore }}</p>
  </div>
</template>

<script>
/**
 * @name Scoreboard
 * @description The flag quiz scoreboard.
 * @param {number} score The current user score.
 * @param {number} bestScore  The user best score registered.
 */
export default {
  name: 'Scoreboard',
  props: {
    score: Number,
    bestScore: Number,
  },
};
</script>
