<template>
  <div>
    <table v-if="countries.length > 0" class="mx-auto w-3/4" aria-label="country-table">
      <tr>
        <th class="border border-gray-light" id="row-country">Country</th>
        <th class="border border-gray-light" id="row-region">Region</th>
        <th class="border border-gray-light" id="row-population">Population</th>
        <th class="border border-gray-light" id="row-language">Languages</th>
        <th class="border border-gray-light" id="row-detail">Detail</th>
      </tr>
      <tr
        class="border border-gray-light text-left"
        v-for="country in countries"
        v-bind:key="country.name.common"
      >
        <td class="border border-gray-light pl-2 w-1/5">
          {{ country.name.common }}
        </td>
        <td class="border border-gray-light pl-2 w-2/5">
          {{ country.region }}, {{ country.subregion }}
        </td>
        <td class="border border-gray-light pl-2 w-1/5">
          {{
            country.population.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
        <td class="border border-gray-light pl-2 w-1/5">
          {{
            country.languages &&
              Object.keys(country.languages)
                .map(key => country.languages[key])
                .join(" - ")
          }}
        </td>
        <td class="border border-gray-light text-center">
          <router-link
            :to="'/detail/' + country.name.common"
            class="text-center hover:text-blue-500 transition-200"
          >
            <em class="bi-eye" style="font-size: 1.5rem;"></em>
          </router-link>
        </td>
      </tr>
    </table>

    <p class="text-lg font-semibold m-8" v-if="countries.length === 0">
      No country found
    </p>
  </div>
</template>

<script>
/**
 * @name CountryList
 * @description A list of the countries
 * @param {Array<Object>} countries  An array containing our countries objects.
 */
export default {
  name: 'CountryList',
  props: {
    countries: Array,
  },
};
</script>
