<template>
  <div class="flex flex-col items-start w-1/2 mx-auto">
    <p class="text-xl text-blue-500 font-semibold w-full text-center my-10">
      Welcome to my currency converter !
    </p>
    <div class="flex flex-row justify-between items-center w-full">
      <SelectInput
        class="my-4"
        label="Select Base : "
        name="base"
        @changeSelect="baseCoeff = parseFloat($event.toFixed(1))"
        :options="currencies"
      />
      <SelectInput
        label="Select Converted : "
        name="converted"
        @changeSelect="convertedCoeff = parseFloat($event.toFixed(1))"
        :options="currencies"
      />
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <input
        class="border border-gray-light w-24 px-2 py-1 rounded-lg"
        name="base-value"
        :onchange="convert()"
        type="number"
        v-model="base"
        min="0"
      />
      <p class="font-semibold text-xl">Result : {{ converted.toFixed(2) }}</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import SelectInput from '@/components/input/SelectInput';

/**
 * @name CurrencyConverter
 * @description The CurrencyConverter page.
 */
export default {
  name: 'CurrencyConverter',
  components: { SelectInput },
  data() {
    return {
      currencies: [],
      baseCoeff: false,
      convertedCoeff: false,
      base: 0,
      converted: 0,
    };
  },
  methods: {
    convert() {
      // If a currency is missing, abort conversion
      if (!this.baseCoeff || !this.convertedCoeff) {
        return;
      }
      // Settle our converted value
      this.converted = this.base * (this.convertedCoeff / this.baseCoeff);
    },
  },
  async beforeCreate() {
    // Retrieve the countries name
    const apiKey = process.env.VUE_APP_EXCHANGE_RATE_ACCESS_TOKEN;
    await axios
      .get(`http://api.exchangeratesapi.io/latest?access_key=${apiKey}`)
      .then((res) => {
        this.currencies = Object.entries(res.data.rates)
          .map((value) => ({ label: value[0], value: value[1] }));
      });
  },
};
</script>
