<template>
  <CountryInfo :country="country" />
</template>

<script>
import axios from 'axios';
import { CountryInfo } from '@/components';

/**
 * @name Detail
 * @description The Detail country page.
 */
export default {
  name: 'Detail',
  components: { CountryInfo },
  data() {
    return {
      country: undefined,
    };
  },
  async beforeCreate() {
    const { country } = this.$route.params;
    await axios
      .get(`https://restcountries.com/v3.1/name/${country}`)
      .then((res) => {
        this.country = res.data[0];
      });
  },
};
</script>
