<template>
  <div>
    <FlagQuiz />
  </div>
</template>

<script>
import { FlagQuiz } from '@/components';

/**
 * @name Quiz
 * @description The flags Quiz page.
 */
export default {
  name: 'Quiz',
  components: { FlagQuiz },
};
</script>
